<header id="header">
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
      <a id="logo" class="logo<%=(theme.logo_text?' logo-text':'')%>" href="<%- url_for('/') %>">
        <%
          var logoContent = theme.logo_text?theme.logo_text:'';
          if(logoContent.length){
            logoContent.split(' ').forEach(function(item, index, array){
              %><span class="logo-initial"><%= item.charAt(0) %></span><%= item.substr(1)+' ' %><%
            });
          }
        %>
      </a>
      <nav id="main-nav">
        <a href="<%- url_for(theme.menu.archives) %>" class="main-nav-link "><%= __('menu.archives')%></a>
        <a href="<%- url_for(theme.menu.categories) %>" class="main-nav-link "><%= __('menu.categories')%></a>
        <a href="<%- url_for(theme.menu.tags) %>" class="main-nav-link "><%= __('menu.tags')%></a>
        <a href="<%- url_for(theme.menu.about) %>" class="main-nav-link main-nav-about"><%= __('menu.about')%></a>
      </nav>
      <nav id="sub-nav">
        <div id="search-form-wrap">
          <%- search_form({button: '&#xF002;', text: __('search')}) %>
        </div>
      </nav>
    </div>
  </div>
</header>
